*.beam

# Mix project gitignore
**/_build
**/cover
**/deps
erl_crash.dump
*.ez

# Mix project issues
# Ignore generated command line executable
# Ignore generated docs
programming-elixir/issues/issues
programming-elixir/issues/doc/

Mnesia.*/



# Phoenix gitignore
/db
**/node_modules
**/priv/static/
**/config/prod.secret.exs
